.input {
  width: 100%;
  padding: var(--spacing-2) var(--spacing-3);
  border: 1px solid var(--color-winter);
  border-radius: var(--border-radius);
  font-family: var(--font-default);
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: var(--color-forrest);
  }
}

.-width-small {
  width: 100px;
}