.wrap {
  text-align: center;
}

.form {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  justify-content: center;

  input {
    text-align: center;
  }
}

.searchResults {
  margin-top: var(--spacing-3);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.stationResult {
  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--color-forrest);
  }
}

.noResults {
  margin-top: var(--spacing-3);
}

