.content {
  max-width: 400px;
}

.image {
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-3);
}

.header {
  text-align: center;
}

.detections {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
  text-align: center;
}

.detection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-3);
}