.wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-1);
  bottom: var(--spacing-2);
  left: 50%;
  transform: translateX(-50%);
  padding: var(--spacing-2);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}

.button {
  width: 24px;

}