.wrap {
  position: sticky;
  bottom: var(--spacing-4);
  text-align: center;

  // Avoid content being hidden behind the home indicator when in standalone mode (iOS)
  @media all and (display-mode: standalone) {
    margin-top: var(--spacing-6);
  }
}

.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-1);
  padding: 0 var(--spacing-1);
  background-color: white;
  border-radius: var(--border-radius);
}

.button {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-2);

  img {
    width: 100%;
  }
}

.lastUpdatedText {
  white-space: nowrap;
  flex-shrink: 0;
}