.wrap {
  position: sticky;
  bottom: var(--spacing-4);

  // Avoid content being hidden behind the home indicator when in standalone mode (iOS)
  @media all and (display-mode: standalone) {
    margin-top: var(--spacing-6);
  }
}

.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-1);
  padding: 0 var(--spacing-1);
  background-color: white;
  border-radius: var(--border-radius);
}

.button {
  width: 50px;
  height: 50px;
  display: flex;
  padding: var(--spacing-2);
}