.wrap {
  text-align: center;

}

.imageWrap {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.image {

  margin: 0 auto;
}

.title {
  margin: var(--spacing-2) 0 0;
  font-size: 2rem;

  @media (max-width: 600px) {
    font-size: 1.2rem;
  }
}

.latin {
  color: gray;
  font-style: italic;
}