.wrap {
  text-align: center;

}

.imageWrap {
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}

.image {
  margin: 0 auto;
}

.observations {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-1);
  padding: var(--spacing-1) var(--spacing-2);
  font-size: 0.875rem;
  position: absolute;
  bottom: -1px;
  right: -1px;
  background: var(--color-white);
  border-top-left-radius: var(--border-radius);
}

.title {
  margin: var(--spacing-2) 0 var(--spacing-1);
  font-size: 1.8rem;
  hyphens: auto;
  word-break: break-word;
  font-weight: 600;


  @media (max-width: 1000px) {
    font-size: 1.4rem;
  }

  @media (max-width: 600px) {
    font-size: 1.2rem;
  }
}

.card {
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.heardFor {
  @media (max-width: 600px) {
    font-size: 0.9rem;
  }
}