.wrap {
  margin: var(--spacing-5) 0;
  position: relative;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  text-wrap: balance;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: var(--spacing-2);
}

.titleButton {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-1);
}

.iconWrap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-3);
  justify-content: center;
  margin: var(--spacing-4) 0;
}

.iconButton {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--border-radius);
  background-color: var(--color-winter);

  &:hover {
    filter: brightness(0.9);
  }
}

.icon {
  width: 24px;
}