.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0.1s ease;
  background: #314023ee;
  backdrop-filter: blur(2px);

  &.modalVisible {
    opacity: 1;
    visibility: visible;
  }
}

.wrap {
  margin: var(--gap);
  padding: var(--spacing-3);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  outline: none;
  transform: scale(0.9);
  transition: transform 0.1s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 96dvh;

  @supports not (max-height: 90dvh) {
    max-height: 96vh;
  }

  .modalVisible & {
    transform: scale(1);
  }
}

.closeButton {
  line-height: 1;
  padding: var(--spacing-2);
  position: absolute;
  top: var(--spacing-5);
  right: var(--spacing-5);
  z-index: 9;
  border-radius: 50%;
  background-color: var(--color-winter);

  &:hover {
    background-color: var(--color-gray);
  }
}

.content {
  overflow-y: auto;
  flex: 1;
  -webkit-overflow-scrolling: touch;
}