.wrap {
  margin: var(--spacing-5) 0;
  position: relative;
  text-align: center;
}

.stationLink {
  margin-left: var(--spacing-2);

  &:hover {
    color: var(--color-red);
  }
}

.title {
  font-size: 1.5rem;
  text-wrap: balance;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: var(--spacing-2);
}