.wrap {
  margin: var(--spacing-5) 0;
  position: relative;
}

.stationWrap {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  color: inherit;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 0.5px;
  }
}

.title {
  font-size: 1.5rem;
  text-wrap: balance;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: var(--spacing-2);
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  justify-content: center;
  margin-top: var(--spacing-3);
}