.wrap {
  margin: var(--spacing-5) 0;
  position: relative;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}