// Animations
@keyframes animate-in-from-bottom {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate-in-page {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate-in-from-top {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// Animation helpers

[data-animate-in] {
  animation: animate-in-from-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

[data-animate-down] {
  animation: animate-in-from-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

[data-animate-in-page] {
  animation: animate-in-from-bottom 0.2s ease;
}

[data-animate-delay="0"] {
  animation-delay: 0s;
}

[data-animate-delay="1"] {
  animation-delay: 0.1s;
}

[data-animate-delay="2"] {
  animation-delay: 0.15s;
}

[data-animate-delay="3"] {
  animation-delay: 0.2s;
}

[data-animate-delay="4"] {
  animation-delay: 0.25s;
}

[data-animate-delay="5"] {
  animation-delay: 0.3s;
}

[data-animate-delay="6"] {
  animation-delay: 0.35s;
}

[data-animate-delay="7"] {
  animation-delay: 0.4s;
}

[data-animate-delay="8"] {
  animation-delay: 0.45s;
}

[data-animate-delay="9"] {
  animation-delay: 0.5s;
}