// Globals
html {
  scroll-behavior: smooth;
  height: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

html,
body,
#__next {
  height: 100%;
  min-height: 100vh;
}

body {
  min-width: 320px;
  vertical-align: baseline;
  position: relative;
  color: var(--color-black);
  background-color: var(--color-forrest);
}

#__next {
  display: flex;
  flex-direction: column;
}

.wrap {
  margin: 0 auto;
  max-width: 1700px;
  padding: var(--spacing-2) var(--gap) var(--spacing-5);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  position: relative;
  margin-top: -22px;
  flex: 1 0 auto;
  width: 100%;
}

// Fade in image when loaded
.fade-in-image {
  transition: opacity 0.2s ease;
  will-change: opacity;
}

.fade-in-image-remove {
  opacity: 0;
}

.link {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.5px;
  color: inherit;
}

.color-muted {
  color: var(--color-gray);
}

.color-red {
  color: var(--color-red);
}

.no-wrap {
  white-space: nowrap;
}