// Globals
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  min-width: 320px;
  vertical-align: baseline;
  position: relative;
  color: var(--color-black);
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
  padding: var(--gap) var(--gap) var(--spacing-7) var(--gap);
  text-align: center;
}

// Fade in image when loaded
.fade-in-image {
  transition: opacity 0.2s ease;
  will-change: opacity;
}

.fade-in-image-remove {
  opacity: 0;
}

.link {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.5px;
  color: inherit;
}

.footer {
  padding: var(--spacing-7) 0 var(--spacing-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-muted {
  color: var(--color-gray);
}

.no-wrap {
  white-space: nowrap;
}