// Globals
body {
  min-width: 320px;
  vertical-align: baseline;
  position: relative;
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 var(--gap);
  text-align: center;
}

// Fade in image when loaded
.fade-in-image {
  transition: opacity 0.2s ease;
  will-change: opacity;
}

.fade-in-image-remove {
  opacity: 0;
}