// Global variables
:root {

  // Fonts (system fonts)
  --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-decorative: Georgia, Times, Times New Roman, serif;

  // Colors
  --color-white: #ffffff;
  --color-black: #1D1D1F;
  --color-gray: #757575;
  --color-forrest: #314023;
  --color-winter: #e7e7e7;

  // Spacing
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 40px;
  --spacing-8: 56px;
  --spacing-9: 64px;
  --spacing-10: 80px;
  --spacing-11: 120px;

  // Gaps and gutters
  --gap: var(--spacing-3);

  // Border
  --border-radius: var(--spacing-3);
}